- title "All Businesses"

#search_box
  %h5 Search
  - form_tag admin_businesses_path, :method => :get, :html => { :id => "search_form"} do
    = text_field_tag :q, params[:q]
    %input{:type => :image, :src => "/images/icons/search_button_32.png", :alt => "Search", :name => nil, :border => 0, :width => 24, :height => 23}/
    - if params[:q]
      .last_search
        You searched "#{params[:q]}"
        = link_to "[reset]", admin_businesses_path

- form_tag nil, :id => :businesses do
  .businesses
    - if @businesses.empty?
      .no-results There are no businesses that match your filter.
    - else
      %table
        %thead
          %tr 
            %th.centered{ :colspan => 3 } Business
            %th.centered{ :colspan => 3 } Contribution
          %tr
            %th.centered{:width => '1%'}
              %abbr{:title => "Needs to be mailed"} M
            %th{:width => '25%'} Name
            %th{:width => '25%'} Location
            %th{:width => '15%'} Date
            %th{:width => '*'} Nature
            %th{:width => '15%'} Date Received
        %tfoot
          %tr
            %th#businesses_count{:colspan => 6}= pluralize(@businesses.count, 'business')
        %tbody
          - @businesses.each_with_index do |business, i| 
            %tr[business]{:class => ('a' if i.even?)}
              %td= business.mailing_required ? 'Y':'N'
              %td= h business.display_name
              %td
                %a{:href => "/admin/businesses/#{business.id}"}= business.street
              %td
                - if business.contribution
                  = time_ago_in_words(business.contribution.created_at)
              %td
                - if business.contribution
                  = link_to( business.contribution.nature, admin_business_contribution_path(business) )
              %td
                - if business.contribution and business.contribution.received
                  = business.contribution.received_at.to_words
              

:javascript
  // Grab all table rows and add the controls
  function setUpControls() {
    rowsArray = $$('table .business');
    for(var i = 0, len = rowsArray.length; i < len; ++i){
      var row = rowsArray[i];
      //console.debug(row.id);
      var business_id = row.id.split("_")[1];
      var checkboxCell = row.firstDescendant();
      var newCheckboxName = 'business_'+business_id+'_mr';
      var newCheckbox = new Element('input', {type: 'checkbox', value: 1, name: newCheckboxName, id: newCheckboxName});
      if (checkboxCell.innerHTML == "Y"){
        checkboxCell.addClassName('hi');
        newCheckbox.writeAttribute('checked');
      }
      //console.debug(newCheckbox);
      checkboxCell.update(newCheckbox);
      new Form.Element.EventObserver(newCheckbox, update_business);
      
      var actionsTd = new Element('td');
      //var actions = [ {} ]
      var deleteButton = new Element('img', {src: '/images/icons/tango/16x16/places/user-trash.png', alt: "delete this business"})
      deleteButton.onclick = delete_business;
      actionsTd.insert(deleteButton);
      row.insert(actionsTd);
      
    }
    
  }
  
  window.onload = setUpControls;
