- title "All Businesses"

- form_tag admin_businesses_path, :method => :get, :html => { :id => "search_form"} do
  #search_box
    = text_field_tag :q
    = submit_tag "Filter", :name => nil
    - if params[:q]
      .last_search
        You searched "#{params[:q]}"
        = link_to "[reset]", admin_businesses_path

- unless @responded_businesses.empty?
  %h2
    Responded
    .note #{@responded_businesses.count} businesses
  %table
    %tr
      %th{:width => '2%'} M
      %th{:width => '25%'} Name
      %th{:width => '25%'} Location
      %th{:width => '15%'} Date Responded
      %th{:width => '*'} Contribution
    - @responded_businesses.group_by(&:name).each_pair do |business_name, locations| 
      - cycle('even', 'odd')
      - locations.each do |business|
        - fields_for "business[]", business do |f|
          - content_tag_for :tr, business, :class => current_cycle do
            %td
              = f.check_box :mailing_required
              = observe_field "business_#{business.id}_mailing_required", :url => admin_business_url(business.id, :format => :js), :method => :put, :with => "'business[mailing_required]=' + value"
            %td= h business.name
            %td= link_to( business.street, admin_business_path(business) )
            - if business.responded_at?
              %td= time_ago_in_words(business.responded_at)
            %td= link_to( business.contribution.nature, admin_contribution_path(business.contribution) ) unless business.contribution.nil?
            
            
- unless @other_businesses.empty?
  %h2
    Not Responded
    .note #{@other_businesses.count} businesses
  %table
    %tr
      %th{:width => '1%'} M
      %th{:width => '25%'} Name
      %th{:width => ''} Location
    - @other_businesses.group_by(&:name).each_pair do |business_name, locations|
      - cycle('even', 'odd')
      - locations.each do |business|
        - fields_for "business[]", business do |f|
          - content_tag_for :tr, business, :class => current_cycle do
            %td
              = f.check_box :mailing_required
              = observe_field "business_#{business.id}_mailing_required", :url => admin_business_url(business.id, :format => :js), :method => :put, :with => "'business[mailing_required]=' + value"
            %td= h business.name
            %td= link_to( business.street, admin_business_path(business) )
