!!! Strict
%html{html_attrs}
  
  %head
    %title #{h(yield(:title) || "Untitled")} - Admin - MGSHParty.com
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    %meta{:name => :language, :content => :en}/
    %meta{:name => :revised, :content => LAST_UPDATE_TIME.strftime("%d/%m/%Y")}/

    %script{:src => "http://www.google.com/jsapi"}
    :javascript
      google.load("prototype", "1.6.0.3"); 
      google.load("scriptaculous", "1.8.3");
      var AUTH_TOKEN = '#{form_authenticity_token}';
    %script{:src => "/javascripts/application.js"}
    
    = stylesheet_link_tag 'formtastic', 'application', 'admin'
    = stylesheet_link_tag 'admin.print', :media => :print
    /[if IE]
      = stylesheet_link_tag 'static/ie'
      
    = yield(:head)
  
  %body
    #infobar
      %h1=h yield(:title)
      - if @actions
        %menu#actions
          - for action in @actions
            - unless current_page?(action.last)
              %li= link_to *action
      %menu#nav
        - for action in controllers_for_nav
          - unless action.to_s == controller.controller_name
            %li= link_to action.to_s.titleize, :controller => action
      
      - if logged_in?
        #userinfo
          Logged in as <strong>#{current_user.username}</strong>.
          = link_to "Log Out", admin_logout_path  

    #content
      - flash.each do |name, msg|
        %div{:id => "flash_#{name}"}= msg

      = yield

    #footer
      .note
        Please #{mail_to("webmaster@mgshparty.com", "contact the webmaster", :subject => "MGSHParty.com", :body => email_client_info)} regarding any problems.
      
      .updated Application was last updated #{LAST_UPDATE_TIME.strftime("%d %b %Y")}
      
      .host This website is hosted by <a href="http://www.dreamhost.com/r.cgi?338167">Dreamhost</a>
      
      - if client_browser_is_ie_or_unknown
        #ie_notice
          :textile 
            This administrative interface was designed to work with standards-compliant browsers such as "Google&nbsp;Chrome":http://www.google.com/chrome, "Mozilla&nbsp;Firefox":http://www.mozilla.com/firefox/, "Opera":http://www.opera.com/, and "Apple&nbsp;Safari":http://www.apple.com/safari/. *Internet&nbsp;Explorer* has multiple known problems rendering standards-compliant webpages. If you are experiencing problems with this website using *Internet&nbsp;Explorer*, you may consider updating your web browsing experience by installing one of the browsers listed. The #{mail_to("webmaster@mgshparty.com", "webmaster", :subject => "MGSHParty.com")} of this site will gladly provide you assistance with this, should you require it.
            
    / 
      Scripts are placed down here so the poge appears to load faster
      Make sure ony code that requires prototype or scriptaculous is called onLoad or after

