- semantic_form_for @contribution, :url => admin_business_contribution_path(@business) do |f|
  - f.inputs "Contribution" do
    = f.input :nature, :label => "Nature", :hint => "What is the donation?"
    = f.input :value,  :label => "Approximate Value", :hint => "What is the value?"
        
    - f.inputs "Delivery" do
      = f.input :delivery_method, :label => "How will/did it get to us?", :as => :radio, :collection => delivery_methods_collection
      = f.input :delivery_details, :label => "Details", :input_html => {:rows => 3}, :hint => "Any details regarding the above mode of delivery"
    
    = f.input :message, :label => "Message", :input_html => {:rows => 5}
    
    - f.inputs "Received" do
      = f.input :received, :label => "Was it received?", :as => :boolean
      = f.input :received_at, :label => "When?"
    
  - f.buttons do
    = f.commit_button "Save"
