- title "Contributions"

%table
  %thead
    %tr
      %th Nature
      %th Value
      %th Business
      %th Delivery
      %th Received?
      %th Date Responded
      %th.centered{:width => '1%'}
        %abbr{:title => "Thank you sent"} T
  %tfoot
    %tr
      %th{:colspan => 6} #{@contributions.count} Contributions
  %tbody
    - for contribution in @contributions
      %tr[contribution]{:class => cycle('a','b')}
        %td= link_to contribution.nature, admin_business_contribution_path(contribution.business)
        %td= contribution.value
        %td= link_to contribution.business.name, admin_business_path(contribution.business)
        %td.delivery<
          %span.method>= contribution.delivery_method.to_s.humanize
          - if contribution.delivery_details?
            %span.details> : #{contribution.delivery_details} 
        %td.received_at<
          - if contribution.received?
            = contribution.received_at.to_words
          - else
            = link_to_remote "set", :url => {:action => :mark_received, :business_id => contribution.business.id}
        %td= contribution.created_at.strftime("%d %b %Y")
        %td.thanked
          - if contribution.thanked? 
            Y
          - else
            = link_to_remote "N", :url => { :action => :mark_thanked, :business_id => contribution.business.id }
        

