- title "Contributions"

%table
  %tr
    %th Business
    %th Nature
    %th Value
    %th Message
    %th Delivery method
    %th Delivery details
    %th Received?
  - for contribution in @contributions
    %tr
      %td= link_to contribution.business.name, admin_business_path(contribution.business)
      %td= h contribution.nature
      %td= contribution.value
      %td= h contribution.message
      %td= delivery_method_details(contribution.delivery_method)
      %td= h contribution.delivery_details
      %td= time_ago_in_words(contribution.received_at) if contribution.received?
      %td= link_to "view", admin_contribution_path(contribution)
