- title "Unthanked Contributions"

%h2 #{@contributions.count} Contributions

    - for contribution in @contributions
      .contribution
        %td= link_to contribution.business.name, admin_business_path(contribution.business)
        %td= link_to contribution.nature, admin_business_contribution_path(contribution.business)
        %td= contribution.value
        
        %td.delivery<
          %span.method>= contribution.delivery_method.to_s.humanize
          - if contribution.delivery_details?
            %span.details> : #{contribution.delivery_details} 
        %td.received_at<
          - if contribution.received?
            = contribution.received_at.to_words
          - else
            = link_to_remote "set", :url => {:action => :mark_received, :business_id => contribution.business.id}
        %td= contribution.created_at.strftime("%d %b %Y")
