- title "Unthanked Contributors"

%h2 #{@contributions.count} Contributions
.businesses_list
  - for contribution in @contributions
    .contributor
      %h2= link_to_if_logged_in(contribution.business.name, admin_business_path(contribution.business))
      .business_details
        .address
          .street= h contribution.business.street
          - if contribution.business.street2?
            .street2= h contribution.business.street2
          %span.city #{h contribution.business.city}, 
          %span.state
            %abbr{:title => Addressing::STATES[contribution.business.state]}= contribution.business.state 
          %span.zip= contribution.business.zip

        - if contribution.business.has_contact_info?
          .contact
            - if contribution.business.contact_name?
              .name
                %strong Contact Name: 
                =h contribution.business.contact_name
            - if contribution.business.contact_department?
              .department
                %strong Contact Department: 
                =h contribution.business.contact_department
            - if contribution.business.contact_phone?
              .phone 
                %strong Contact Phone: 
                = contribution.business.contact_phone
            - if contribution.business.contact_email?
              .email
                %strong Contact Email: 
                = mail_to contribution.business.contact_email

      .contribution_details
        Contributed
        = link_to contribution.nature, admin_business_contribution_path(contribution.business)
        on
        = contribution.created_at.strftime("%d %b %Y")
      .clear
    %hr
