%h2= link_to_if_logged_in "Contribution", admin_business_contribution_path(contribution.business)

.summary
  :textile
    _(business name)#{h contribution.business.name}_ will donate *(nature)#{h contribution.nature}*, valued at approximately %(value)#{contribution.value}%, and %(delivery)#{delivery_method_display(contribution)}%

- if contribution.message?
  .message
    %h3 Additional Message
    %blockquote= h contribution.message
    
- if logged_in?
  = render :partial => 'admin/contributions/received_display'

  #thanked_at  
    - if contribution.thanked?
      A thank-you was sent #{time_ago_in_words(contribution.thanked_at)}
    - else
      A thank-you still needs to be sent.
      = link_to_remote "Mark as thanked today.", :url => mark_thanked_admin_business_contribution_path(contribution.business.id)
