%div
  %h3 Contribution
  %p 
    %b= h contribution.nature
    valued at #{("$%.2f" % contribution.value)}
  %p 
    = delivery_method_details(contribution.delivery_method)
    = h contribution.delivery_details

  - if contribution.message
    %div
      %h3 Message
      %p= h contribution.message
