- title "Thank You"

#thankyou.centered.message
  :textile
    h1. Thank you, we appreciate your contribution and your response.

    p. If you need to change or review any of the information here in the future, the "current url":#{business_contribution_url(@contribution.business)} will bring you back here. You can also go to the main "contribute":/contribute url you first went to.

#review
  Here is a review of what you have submitted.
  .business
    = render :partial => "businesses/display", :locals => {:business => @contribution.business}
  .contribution
    = render :partial => "display", :locals => {:contribution => @contribution}
    
  %div= link_to "Forget Something?", edit_business_contribution_path(@contribution.business)

#closing.message
  :textile
    p. _Please make checks payable to *Maple Grove Senior High Class Party (MGSHCP)*._
    
    p. If you need to contact the prize committee, please feel free to send any questions or concerns to either of the committee chairs listed below.
    
  .contacts
    = render :partial => "pages/signatures"
      
