- title "Thank You"

#thankyou.centered.message
  :textile
    h1. Thank you, we appreciate your contribution and your response.

    p. If you need to change or review any of the information here in the future, you can bookmark "this page":#{business_contribution_url(@contribution.business)}. You could also go back to the main "contribute":/contribute page and look up your business again.

#review
  Here is a review of what you have submitted.
  .business
    = render :partial => "businesses/display", :locals => {:business => @contribution.business}
  .contribution
    = render :partial => "display", :locals => {:contribution => @contribution}
    
  %div= link_to "Forget Something?", edit_business_contribution_path(@contribution.business)

#closing.message
  :textile
    _Please make checks payable to *Maple Grove Senior High Class Party (MGSHCP)*._
    
    If you need to contact the prize committee, #{link_to_function( "click here", "show_contacts();" )}.
    
  #contacts
    %p Please feel free to send any questions or concerns to Shelley, the committee chair, listed below.
    = render :partial => "pages/shelley"
    
:javascript
  // hide via js so it will be accessible for folks w/o js
  $('contacts').hide();
  function show_contacts(){
    $('contacts').show();
  }
